<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>

<noscript>
	<div class="noscript" id="noscript">
		<div class="content">
			当サイトを最適な状態で閲覧していただくにはブラウザの<span>JavaScriptを有効</span>にしてご利用下さい。<br />
			JavaScriptを無効のままご覧いただいた場合には一部機能がご利用頂けない場合や正しい情報を取得できない場合がございます。
		</div>
	</div><!-- / #noscript -->
</noscript>

<!-- js(venderやlibraryを上に記述する) -->
<script type="text/javascript" src="<%= path; %>assets/js/vendor/jquery.js" id="jqueryJS" charset="UTF-8"></script>
<script type="text/javascript" src="<%= path; %>assets/js/vendor/jquery.mousewheel.js" id="mousewheelJS" charset="UTF-8"></script>
<script src="<%= path; %>assets/js/vendor/aos/aos.js"></script>
<script type="text/javascript" src="<%= path; %>assets/js/vendor/pano.js" charset="UTF-8"></script>
<script src="<%= path; %>assets/js/vendor/picturefill.min.js"></script>
<script type="text/javascript" src="<%= path; %>assets/js/util.js" id="utilJS" charset="UTF-8"></script>
<script type="text/javascript" src="<%= path; %>assets/js/common.js" id="commonJS" charset="UTF-8"></script>
<!-- init -->
<link rel="stylesheet" type="text/css" href="<%= path; %>assets/css/import/accessibility.css" media="screen" id="noscriptCSS" />
<script type="text/javascript" charset="UTF-8" src="<%= path; %>assets/js/init.js" id="InitJS"></script>
<!-- crevia_common -->
<script src="https://www.itochu-sumai.com/lineup/madori/data/themes.js"></script>
<script src="https://www.itochu-sumai.com/lineup/madori/data/path.js"></script>
<script src="<%= path; %>assets/crevia_common/js/swiper.min.js"></script>
<script src="<%= path; %>assets/crevia_common/js/crevia-common.js"></script>

<div id="logtag">
</div><!-- / #logtag -->
